/* H1 */
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("~/assets/fonts/BricolageGrotesque/BricolageGrotesque_48pt-ExtraBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* H2 */
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("~/assets/fonts/BricolageGrotesque/BricolageGrotesque_48pt-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* H3 */
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("~/assets/fonts/BricolageGrotesque/BricolageGrotesque_36pt-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* H4 */
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("~/assets/fonts/BricolageGrotesque/BricolageGrotesque_24pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* eyebrow */
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("~/assets/fonts/BricolageGrotesque/BricolageGrotesque_24pt-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* light */
@font-face {
  font-family: "Open Sans";
  src: url("~/assets/fonts/OpenSans/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* regular */
@font-face {
  font-family: "Open Sans";
  src: url("~/assets/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* medium */
@font-face {
  font-family: "Open Sans";
  src: url("~/assets/fonts/OpenSans/OpenSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* semibold */
@font-face {
  font-family: "Open Sans";
  src: url("~/assets/fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* bold */
@font-face {
  font-family: "Open Sans";
  src: url("~/assets/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* regular */
@font-face {
  font-family: "Montserrat";
  src: url("~/assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* semibold */
@font-face {
  font-family: "Montserrat";
  src: url("~/assets/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* bold */
@font-face {
  font-family: "Montserrat";
  src: url("~/assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-heading: "Bricolage Grotesque", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --font-ui: "Montserrat", sans-serif;

  --font-size-base: 1rem;
}

h1 {
    font-size: 60px;
    font-family: var(--font-heading);
}
h2 {
    font-size: 40px;
    font-family: var(--font-heading);
}
h3 {
    font-size: 32px;
    font-family: var(--font-heading);
}
h4 {
    font-size: 20px;
    font-family: var(--font-heading);
}

.eyebrow {
    font-size: 20px;
    font-family: var(--font-heading);
    text-transform: uppercase;
}

.body-large {
    font-size: 18px;
    font-family: var(--font-body);
}
.body-regular {
    font-size: 20px;
    font-family: var(--font-body);
}
.body-small {
    font-size: 14px;
    font-family: var(--font-body);
}

.weight-light {
    font-weight: 300;
}
.weight-regular {
    font-weight: 400;
}
.weight-medium {
    font-weight: 500;
}
.weight-semibold {
    font-weight: 600;
}
.weight-bold {
    font-weight: 700;
}



.text-white {
    color: var(--color-text-white);
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-orange {
    color: var(--color-accent-orange);
}
