/* Breakpointsin uso con classi mobile first
    tablet:
        md: 768px

    desktop:
        lg: 992px

    large desktop:
        xl: 1200px
        xxl: 1400px
*/

/* bottoni */
.btn {
    font-family: var(--font-ui);
    border-radius: 999px;

    &.btn-lg {
        font-size: 20px;
    }

    &.btn-sm {
        font-size: 12px;
    }

    &.btn-primary {
        background-color: var(--color-primary);
        color: var(--color-text-white);
    }

    &.btn-secondary {
        background-color: var(--color-secondary);
        color: var(--color-text-white);
    }
}

/* sfondi */
.background-primary {
    background-color: var(--color-primary);
}
.background-secondary {
    background-color: var(--color-secondary);
}
.background-orange {
    background-color: var(--color-accent-orange);
}
.background-giallo {
    background-color: var(--color-accent-giallo);
}

/* angoli */


@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}